html(lang="en")
  head
    title Coffeefy
    meta(name='description' content="Tired of arguing over who's turn is it to make coffee? This site is for you!")
    link#favicon(rel='icon', href='https://cdn.glitch.com/eb2d7dec-04ef-480d-8616-087d63d88275%2FCoffee.ico?1556809358242', type='image/x-icon')
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    link(rel="stylesheet"
         href="https://use.fontawesome.com/releases/v5.8.1/css/all.css"
         integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf"
         crossorigin="anonymous")
    link(href='/css/login.css', rel='stylesheet')             
  body
    main
      div(id="login-form")
        center
          h1 Go to account
          if exists==false
            strong(class="txt-error") The Account entered was wrong :(
            
        form(action="/signin", method="post")          
          input(name="username" type="text" placeholder="Account's name" required)
          br
          input(name="password" type="password" placeholder="Account's password" required)
          br
          input(type="submit" value="Go to Account's login")
        a(href="/signup")
          button Sign up!      