html(lang="en")
  head
    title Coffeefy
    meta(name='description' content="Tired of arguing over who's turn is it to make coffee? This site is for you!")
    link#favicon(rel='icon', href='https://cdn.glitch.com/eb2d7dec-04ef-480d-8616-087d63d88275%2FCoffee.ico?1556809358242', type='image/x-icon')
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    link(href='/style.css', rel='stylesheet')    
    link(rel="manifest" href="..public/manifest.json")
    script(src="/main.js")
    
  body(onload="getHistory()")
  
    nav
      a(href="/main")
        button(class="nav-button") Main Page
      a(href="/main/makers")
        button(class="nav-button") Manage Makers
      a(href="/main/settings")
        button(class="nav-button") Account Settings
      a(href="/main/logout")
        button(class="nav-button") Log out        
      
    main
      div(class="container" id="container" style="display: flex;")
        div(id="makers-box")
            h1 Makers
            div(id="main-makers-list")
              ul
                each maker in makers
                  if maker.active==true
                    li.maker= maker.name          
        div(id="information")
          div
            if last=="no" && today=="body"
              p There is only one maker, do you really need to use this app?
            else
              if last!="nobody"
                p Last time, #{last} made coffee.

              if today=="nobody"
                p Today nobody makes coffee :(
              else
                if today==last
                  p #{today} has made coffee today.
                else
                  p Today #{today} makes coffee!
                  form(action=("/main/mark?today=" + today) method="post")
                    if incorrectPassword==true
                      p(class="txt-error") You entered an incorrect password :(
                    input(type="password" name="password" placeholder= (today + "'s password") required)
                    input(type="submit" value= today + " has made coffee")
                  p unless...
                  form(action=("/main/mark") method="post" style="padding: 0;")
                    input(type="password" name="password" placeholder= ("Someone else's password") required)
                    input(type="submit" value= "Someone else has made coffee")
                  
          div(id="calendar")
            div(style="display:flex; justify-content: space-around;")
              button(class="btn-calendar" onclick="changeYear(-1)") <
              div(id="year") XXXX
              button(class="btn-calendar" onclick="changeYear(1)") >
            div(style="display:flex; justify-content: space-around;")
              button(class="btn-calendar" onclick="changeMonth(-1)") <
              div(id="month") XXX
              button(class="btn-calendar" onclick="changeMonth(1)") >
            table(id="" style="display:flex; justify-content: center;")
              tr(id="daysOfWeek")
                th S
                th M
                th T
                th W
                th T
                th F
                th S
              tr(id="week1")
              tr(id="week2")
              tr(id="week3")
              tr(id="week4")
              tr(id="week5")
              tr(id="week6")