html(lang="en")
  head
    title Coffeefy
    meta(name='description' content="Tired of arguing over who's turn is it to make coffee? This site is for you!")
    link#favicon(rel='icon', href='https://cdn.glitch.com/eb2d7dec-04ef-480d-8616-087d63d88275%2FCoffee.ico?1556809358242', type='image/x-icon')
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    link(href='/style.css', rel='stylesheet')         
    script(src="/login-signup.js" defer)
    
  body
  
    nav
      a(href="/main")
        button(class="nav-button") Main Page
      a(href="/main/makers")
        button(class="nav-button") Manage Makers
      a(href="/main/settings")
        button(class="nav-button") Account Settings
      a(href="/main/logout")
        button(class="nav-button") Log out        
      
    main
      div(class="container" id="container")
        h1 Makers
        div(style="display:flex;")
          div(id="makers-list")
            ul
              each maker in makers
                li.maker= maker.name + ": Currently " + maker.active
          div(class="width-50")
            form(id="add-maker" method="POST" action="/main/makers" autocomplete="off")
              input(class="width-100" type="text" name="newMaker" placeholder="Maker's name" style="padding: 0px;" required autofocus)
              input(class="width-100" type="password" name="newPassword" placeholder="Maker's password" style="padding: 0px;" required)
              input(class="width-100" type="submit" name="action" value="add")
              input(class="width-100" type="submit" name="action" value="changeActive")
              input(class="width-100" type="submit" name="action" value="delete")