html(lang="en")
  head
    title Coffeefy
    meta(name='description' content="Tired of arguing over who's turn is it to make coffee? This site is for you!")
    link#favicon(rel='icon', href='https://cdn.glitch.com/eb2d7dec-04ef-480d-8616-087d63d88275%2FCoffee.ico?1556809358242', type='image/x-icon')
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    link(href='/css/style.css', rel='stylesheet')
    script(src="/js/signup-success.js" defer)

  body
  
    header
      center
        h1 Coffeefy
        p No more arguments in your office!
      
    main
      div(class="container" id="container")
          p Your account has been created! You are being redirected to the login page.