div(class="form-container sign-up-container")
  form(class="height-100" action="/signup", method="post" autocomplete="off")
    h1(class="h1-login-signup") Create Account
    if already==true
      p(class="txt-error") The username you just entered is already taken :(
    input(class="width-100" name="username" type="text" placeholder="Account's name" required)
    input(class="width-100" name="accPassword" type="text" placeholder="Account's password" required)
    label Choose a sorting mode:
      select(name="mode" style="display: inline-block;" required)
        option(value="list") List order
        option(value="times") Times made
    input(class="width-100" name="maker" type="text" placeholder="Main maker's name" required)
    input(class="width-100" name="password" type="password" placeholder="Main maker's password" required)
    input(class="width-100" type="submit" value="Sign Up") 