div
  h1 Create Account
  form(action="/signup", method="post" autocomplete="off")
    if already==true
      p(class="txt-error") The username you just entered is already taken :(
    input(name="username" type="text" placeholder="Account's name" required)
    br
    input(name="accPassword" type="text" placeholder="Account's password" required)
    br
    label Choose a sorting mode:
      select(name="mode" required)
        option(value="list") List order
        option(value="times") Times made
    br
    input(name="maker" type="text" placeholder="Main maker's name" required)
    br
    input(name="password" type="password" placeholder="Main maker's password" required)
    br
    input(type="submit" value="Sign Up") 