/*This CSS is working fine, do not delete*/
* {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

:root {
  --bg-light: #F2F1EC;
  --accent-color: #949C9E;
  --brand-color: #C15C47;
  --accent2-color: #9D7C54;
  --bg-dark: #111111;
}

html, body {
  height: 100%;
  width: 100%;
}

body {
  background-color: var(--bg-light);
  border: 0;
  display: flex;
  font-family: "Benton Sans", "Helvetica Neue", helvetica, arial, sans-serif;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

nav {
  background-color: var(--bg-dark);
  color: var(--bg-light);
  display: flex;
  flex-direction: column;
  height: 100%;
  overflow: auto;
  width: 25%;
  white-space: nowrap;  
}

a {
  color: inherit;
  margin: 0;
  text-decoration: none;  
  text-align: center;
}

#nav-logo {
  width: 64px;
  height: 64px;
}

#nav-div {
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: space-around;
}

.nav-btn {
  background-color: var(--bg-dark);
  border: 0;
  box-shadow: none;
  color: var(--bg-light);  
  font-size: 16px;  
  height: 4vw;
  margin: 0;
  padding: 0;
  padding-left: 4vw;
  cursor: pointer;
  text-align: left;
  width: 100%;
}

.nav-btn:hover, .nav-btn-active {
  background-color: var(--bg-light);
  /*color: var(--bg-light)*/
  color: var(--brand-color);
}

.btn-choice {
  border-radius: 5px;
  text-align: left;
  text-decoration: none;
  display: inline-block;
  width: 200px;
  height: 50px;
  color: var(--bg-light);
  text-shadow: 0 1px 1px rgba(0,0,0,0.65);
  cursor: pointer;
  font: inherit;
  letter-spacing: inherit;
  margin: 5px;
}

.choice-okay {
  background-color: green;
  border: 4px solid darkgreen;
}

.choice-wrong {
  background-color: red;
  border: 4px solid darkred;
}

.choice-caution {
  background-color: orange;
  border: 4px solid darkorange;
}

#mark {
  display: none;
}

#mark-someone-else {
  display: none;
}

/*Below everything should be changed*/
main {
  display: flex;
  height: 100%;
  width: 100%;
  overflow: auto;
  overflow-x: hidden;
}
#show-makers {
  align-self: center;
  background-color: var(--brand-color);
  border: 0;
  border-left: 4px solid #A85341;
  border-bottom: 2px solid #A85341;
  border-radius: 80% 0 0 80%;
  color: var(--bg-light);
  cursor: pointer;
  display: flex;
  flex-direction: column;
  font: inherit;
  height: auto;
  justify-content: center;
  letter-spacing: inherit;
  margin: 0; 
  position: relative;
  text-shadow: 0 1px 1px rgba(0,0,0,0.65);
  width: 50px;
}

#btn-overlay {
  align-self: center;  
  height: 100%;
  padding: 0;
  position: absolute;
  width: 100%;
}

#btn-overlay-arrow {
  margin-top: 3.5vw;
  margin-left: -2vw;  
  align-self: center;
}

#makers-box {
  background-color: var(--brand-color);
  color: #eeeeee;
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 0px;
  overflow-x: hidden;
  padding: 0vw;
  right: 0;
  transition: 0.3s;  
  top: 0;
  z-index: 1;
}

#makers-box ul {
  list-style-type: none;
  padding: 0px;
}

#main-makers-list {
  overflow-x: hidden;
  overflow-y: auto;
  height: 100%;
}

#information {
  display: flex;
  padding: 2vw;
  width: 100%;
}


/*Above everything should be changed*/
#calendar {
    width: 100%;
}

table
{
    border-collapse: collapse;
}

td {
  border: 1px solid black;
}

[tooltip]:hover{
  margin:20px;
  position:relative;
}
[tooltip]::before {
    content: "";
    position: absolute;
    top:-6px;
    left:50%;
    transform: translateX(-50%);
    border-width: 4px 6px 0 6px;
    border-style: solid;
    border-color: rgba(0,0,0,0.7) transparent transparent     transparent;
    z-index: 100;
}
[tooltip]::after {
    content: attr(tooltip);
    position: absolute;
    left:50%;
    top:-6px;
    transform: translateX(-50%)   translateY(-100%);
    background: var(--brand-color);
    text-align: center;
    color: #fff;
    padding:4px 2px;
    font-size: 12px;
    min-width: 80px;
    border-radius: 5px;
    pointer-events: none;
}


#daysOfWeek {
  border: 1px black solid;
  background-color: black;
  color: var(--bg-light);
}

.txt-made {
  font-weight: bold;
  cursor: pointer;
}

#makers {
  padding: 0px 2vw;
}

/*Form*/
#settings{
  display: flex;
  justify-content: space-evenly;
  padding: 2vw;
  width: 100%;
}

#caution {
  text-align: center;
}

.form-style-7{
  min-width:400px;
	max-width:400px;
	background:#fff;
  /*background:var(--brand-color);*/
	border-radius:5px;
	padding:20px;
	font-family: Georgia, "Times New Roman", Times, serif;
}
.form-style-7 h1{
	text-align: center;
	padding: 0;
	margin: 0px 0px 20px 0px;
	color: var(--bg-dark);
	font-size:x-large;
}
.form-style-7 ul{
	list-style:none;
	padding:0;
	margin:0;	
}
.form-style-7 li{
	padding: 9px;
	border:1px solid var(--accent-color);
	margin-bottom: 20px;
	border-radius: 3px;
}
.form-style-7 li > label{
	float: left;
	margin-top: -19px;
	background: #FFFFFF;
	padding: 2px 5px 2px 5px;
	color: var(--bg-dark);
	font-size: 14px;
	overflow: hidden;
	font-family: Arial, Helvetica, sans-serif;
}

/*
.form-style-7 input[type="text"],
.form-style-7 input[type="date"],
.form-style-7 input[type="datetime"],
.form-style-7 input[type="email"],
.form-style-7 input[type="number"],
.form-style-7 input[type="search"],
.form-style-7 input[type="time"],
.form-style-7 input[type="url"],
.form-style-7 input[type="password"],
.form-style-7 textarea,
.form-style-7 select 
{
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	width: 100%;
	display: block;
	outline: none;
	border: none;
	height: 25px;
	line-height: 25px;
	font-size: 16px;
	padding: 0;
	font-family: Georgia, "Times New Roman", Times, serif;
}*/

.form-style-7 input {
  width: 100%;
  border-radius: 3px;
}

.div-input-button {
  display:flex;
  justify-content: space-evenly;
  margin-top: -15px;
  margin-bottom: 5px;
}

.form-style-7 li > span{
	background: #F3F3F3;
	display: block;
	padding: 3px;
	margin: 0 -9px -9px -9px;
	text-align: center;
	color: var(--bg-dark);
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
}
.form-style-7 textarea{
	resize:none;
}

.btn-save-settings {
  color: var(--bg-light);
  display: inline;
  background-color: var(--accent-color);
	border: none;
	padding: 5px;
	border-bottom: 3px solid #777d7f;
	border-radius: 3px;
}

.btn-save-settings:hover {
  background-color: var(--brand-color);
  border-bottom: 3px solid #A85341;
}

.btn-important-settings-orange {
  color: var(--bg-light);
  background-color: orange;
	border: none;
	padding: 5px;
	border-bottom: 3px solid #777d7f;
	border-radius: 3px;
}

.btn-important-settings-red {
  color: var(--bg-light);
  background-color: red;
	border: none;
	padding: 5px;
	border-bottom: 3px solid var(--brand-color);
	border-radius: 3px;
}
