:root {
  --bg-light: #F2F1EC;
  --accent-color: #949C9E;
  --brand-color: #C15C47;
  --accent2-color: #9D7C54;
  --bg-dark: #111111;
}

* { 
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  font-weight: 300;
  line-height: 1.5em;
  font-size: 14px;
}

body{
  background-color: var(--accent2-color);
  overflow-x: hidden;
  margin: 0;
  padding: 0;  
}

#container {
  
}

nav {
  background-color: var(--accent2-color);
  width: 80%;
  min-height: 100px;
  max-height: 50%;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 1rem;
}

#nav-left {
  
}

#nav-left ul {
  display: flex;
  align-items: center;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

#nav-left ul li{
  margin: 0 10px;
}

#nav-logo {
  width: 64px;
  height: 64px;
}

#nav-right {
  align-items: center;
}

.btn-not-relevant {
  
  border-radius: 5px;
  border: none;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  width: 8.4375rem;
  height: 2.9375rem;
  color: var(--bg-dark);
  text-shadow: 0 1px 1px rgba(0,0,0,0.65);
  cursor: pointer;
  font: inherit;
  letter-spacing: inherit;
  padding: 0;
  margin: 0 10px;
}

.btn-relevant {
  background-color: var(--brand-color);
  border-radius: 5px;
  border: none;
  border-bottom: 4px solid #A85341;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  width: 200px;
  height: 50px;
  color: var(--bg-light);
  text-shadow: 0 1px 1px rgba(0,0,0,0.65);
  cursor: pointer;
  font: inherit;
  letter-spacing: inherit;
  padding: 0;
  margin: 0;
}

main {
  
}

#section-1 {
  background-color: var(--bg-dark);
  height: 80%;
  padding: 2vw;
  display: grid;
  grid-template-columns: 3fr 3fr;
}

.title {
  color: var(--brand-color);
  text-shadow:0 2px 20px rgba(0,0,0,.16);
  font-weight: normal;
}
.center {
  text-align: center;
}
.txt-justify {
  text-align: justify;
}

#card-1 {
  background-color: var(--bg-light);
  border-radius: 10px;
  padding: 1vw;
  margin: auto;
  width: 55%;
}

#card-2 {
  background-color: var(--bg-light);
  border-radius: 10px;
  padding: 1vw;
  margin: auto;
  width: 80%;
  height: 80%;
}

#section-2 {
  background-color: var(--bg-light);
  height: 50%;
  padding: 2vw;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.features {
  margin: 1vw;
  padding: 1vw;
  width: 70%;
  border-radius: 10px;
  min-height: 150px;
  max-height: 150px;
}

#section-3 {
  background-color: var(--bg-dark);
  display: flex;
  flex-direction: column;
  height: 90%;
  padding: 2vw;
}

#companies {
  background-color: rgb(0,0,0);
  color: #F2F1EC;
  border-radius: 10px;
  padding: 1vw;
}

#companies-logos {
  display: flex;
  justify-content: center;
}

.company-logo {
  max-width: 128px;
  max-height: 128px;
  margin: 0 auto;
  border-radius: 5px;
}

#testimonies {
  margin-top: 1vw;
  display: flex;
  justify-content: space-around;
}

.testimony {
  background-color: rgb(0,0,0);
  color: var(--bg-light);
  border-radius: 10px;
  padding: 1vw;
  display: flex;
  justify-content: space-evenly;
  max-width: 25%;
  min-width: 25%;
}

.testimony-img {
  max-width: 128px;
  max-height: 128px;
  align-items: flex-end;
}

.testimony-text {
  width: 40%;
  margin-left: 10px;
}

#section-4 {
  background-color: var(--bg-light);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50%;
}

#try-now {
  justify-content: center;
  align-items: center;
  text-align: center;
}

footer {
  display: flex;
  min-height: 100px;
  height: 10%;
  justify-content: space-around;
  align-items: center;
}

.side-margin {
  margin: 0 10px;
}


.fa-github-square {
  color: var(--bg-light);
}
.fa-github-square:hover {
  color: #333;
}

.fa-facebook-square {
  color: var(--bg-light);
}
.fa-facebook-square:hover {
  color: #3b5998;
}

.fa-linkedin {
  color: var(--bg-light);
}
.fa-linkedin:hover {
  color: #1985bc;
}

.fa-twitter-square {
  color: var(--bg-light);
}
.fa-twitter-square:hover {
  color: #1da1f2;  
}