extends app-template.pug   

block main
  main
    div(id="settings")
      if admin==true
        span
          div(class="form-style-7")
            h1 Account's settings
            ul
              li
                label New name
                br
                div(class="div-input-button")
                  input(id="" type="text" name="accountName" maxlength="100")
                  button(class="btn-save-settings") Update
                span Will change the URL for the account!
              li
                label New password
                br
                div(class="div-input-button")
                  input(id="" type="text" name="accountPassword" maxlength="100")
                  button(class="btn-save-settings") Update
                span Your makers will need the new account!
              h1(style="color:red;") DANGER ZONE
              li
                label Delete (entire) account
                br
                center
                  button(class="btn-important-settings-orange") Delete my (entire) account permanently?
                p(style="display: none;") Are really sure you want to delete your (entire) account?
                  text This cannot be changed later...
                  button(class="btn-important-settings-red") Yes, delete my (entire) account permanently
      span
        div(class="form-style-7")
          h1 #{loggedMaker}'s settings
          ul
            li
              label(for="name") New name
              br
              div(class="div-input-button")
                input(id="makerName" type="text" name="name" maxlength="100")
                button(class="btn-save-settings" onclick="saveNewName()") Update
              span Enter your new name here
            li
              label(for="password") New password
              br
              div(class="div-input-button")
                input(id="makerPassword" type="password" name="password" maxlength="100")
                button(class="btn-save-settings" onclick="saveNewPassword()") Update
              span Enter your new password here              
            li
              label I'm sick / on vacation
              br
              center
                button(class="btn-important-settings-orange" onclick="deactivateMaker()") Deactivate me temporarily
            h1(style="color:red;") DANGER ZONE
            li
              label Abandon the group / stop drinking coffee
              br
              center
                button(class="btn-important-settings-orange" onclick="caution()") Delete my (maker) account permanently?
              p(id="caution" class="btn-important-settings" style="display: none;") Are you really sure you want to delete your (maker) account?
                text This cannot be changed later...
                button(class="btn-important-settings-red" onclick="deleteMaker()") Yes, delete my (maker) account permanently
  script(src="/js/app/settings.js")