extends app-template.pug   

block main
  main
    div(class="container" id="container")
      p Coming soon: Account settings to change account's password, sorting mode, days off, new admin or delete the account. Also, manipulate makers.