extends app-template.pug   

block main
  main
    div(class="container" id="container")
      div(id="settings")
        if admin==true
          text Coming soon: Account settings to change account's password, sorting mode, days off, new admin or delete the account. Also, manipulate makers.
            p Account's settings
              form
                p To be defined
        br
        br
        p #{loggedMaker}'s settings
        div
          text Change name:
          input(id="makerName" placeholder="Insert new name")
          button(onclick="saveNewName()") Save         
        br
        div
          text Change password:
          input(id="makerPassword" type="password" placeholder="Insert new password")
          button(onclick="saveNewPassword()") Save
        br
        p Are you sick or going on vacation?
          br
          br
          button(onclick="deactivateMaker()") Deactivate me temporarily
        p(id="deleteAccount") Are you abandoning the group or trying to stop drinking coffee?
          br
          br
          button(onclick="caution()") Delete my account permanently?
          p(id="caution" style="display: none;") Are you really sure you want to delete your account? This cannot be changed later...
            button(onclick="deleteMaker()") Yes, delete my account permanently
  script(src="/js/app/settings.js")